.center-items{
  margin-top: 115px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo-icon{
  object-fit: contain;
}
.search-bar-container{
  border-radius: 150px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  margin: 30px auto;
  max-width: 500px;
  width: 75vw;
  flex:1;
  padding: 10px 20px;
}
.search-bar{
  flex: 1;
  cursor: text;
  font-size: 16px;
  border: none;
  outline: none;
}
#search-icon, #microphone{
  background-color: transparent;
  color: gray; 
  margin: 5px 10px;
}
.shortcuts-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortcut-button{
  padding: 10px;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.shortcut-name{
  margin-top: 10px;
  font-size: 14px;
}